[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
langchain = "*"
python-dotenv = "*"
dnspython = "*"
openai = "*"
langsmith = "*"
langchainhub = "*"
langchain-text-splitters = "*"
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-google-genai = "*"
streamlit = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
